<app-header></app-header>

<div>
  <img class="img1" src="/assets/img54.png" alt="Kundan" />
</div>

<body>
  <h3 class="text" style="background-color: rgb(169, 164, 164)">
    Choose your favourite food Here
  </h3>

  <marquee> All are yours</marquee>
  <marquee
    direction="right"
    behavior="alternate"
    style="background: skyblue; border: RED 3px SOLID"
  >
    For any query Contact Kundan
  </marquee>
</body>
<button class="button">
  <a href="https://www.youtube.com/channel/UCAKTA8AxnN0tEURPMbvT3Fw">
    Youtube
  </a>
</button>
<br />
<button class="facebook">
  <a href="https://www.facebook.com/kundan.rajak.182"> Facebook </a>
</button>

<button class="Robomq">
  <a href="https://trial.robomq.io/connect/"> Robomq </a>
</button>

<router-outlet></router-outlet>




